<div class="page-title">
    <div class="title_left">
        <h3>Danh sách quyền truy cập</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm..."  name="filter" (keyup.enter)="loadData()" [(ngModel)]="filter">
                <span class="input-group-btn">
                    <button class="btn btn-default"  type="button" (click)="search()">Search</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">

                <button type="button" class="btn btn-primary" (click)="showChildModal()">Thêm mới</button>

                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên quyền</th>
                            <th>Mô tả</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of roles; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.Name}}</td>
                            <td>{{item.Description}}</td>
                            <td>
                                <button class="btn btn-primary" (click)='showEditModal(item.Id)'><i class="fa fa-pencil-square-o"></i></button>
                                <button class="btn btn-danger" (click)='deleteItem(item.Id)'><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-12 col-12">
                        <pagination [directionLinks]="showDirectionLinks" [itemsPerPage]="pageSize"
                            (pageChanged)="pageChanged($event)" [totalItems]="totalRow"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Add and Edit-->
<div bsModal #AddEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{action}} quyền </h4>
                <button type="button" class="close pull-right" (click)="AddEditModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm"
                    (ngSubmit)="saveChange(addEditForm.form.valid)" *ngIf="entity">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên nhóm</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="hidden" [(ngModel)]="entity.Id" name="id" />
                            <input type="text" #name="ngModel" [(ngModel)]="entity.Name" required minlength="3"
                                name="name" class="form-control">
                            <small [hidden]="name.valid || (name.pristine && !addEditForm.submitted)" class="danger">
                                Bạn phải nhập tên ít nhất 3 kí tự
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mô tả</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <textarea class="form-control" #description="ngModel" [(ngModel)]="entity.Description"
                                name="description" rows="3"></textarea>
                        </div>
                        <small [hidden]="description.valid || (description.pristine && !addEditForm.submitted)"
                            class="danger">
                            Phải nhập mô tả
                        </small>
                    </div>

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="button" class="btn btn-primary" (click)="AddEditModal.hide()">Hủy bỏ</button>
                            <button type="submit" class="btn btn-success" [disabled]='!addEditForm.form.valid'>Cập
                                nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>